<%-include('header') %>
<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus cumque iusto amet nulla officiis magnam, suscipit unde reiciendis, pariatur nesciunt animi culpa magni provident porro aliquam labore dignissimos consequatur corrupti maiores obcaecati molestias quos nostrum nobis? Minus dolorem veniam eaque.</p>

            <a href="" class="hero-btn red-btn" >EXPLORE IT NOW</a>

        </div>
        <div class="about-col">
            <img src="images/about.jpg" alt="">
        </div>
    </div>

</section>



<%-include('footer') %>