<section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, perferendis praesentium ad hic error numquam repellendus, dolorem fugit dignissimos quis <br> eligendi maxime! Consectetur, quod vitae reprehenderit exercitationem saepe eveniet veniam.</p>

    <div class="icons">
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-linkedin-square"></i>
        <i class="fa fa-whatsapp" ></i>
        
    </div>
    <p class="sahil">Copywrite-Team Matrix</p>
</section>


<script src="js/main.js">
   
</script>


</body>
</html>