<%-include('header') %>
<!-- <div class="text-box">
    <h1>Discount Outlet</h1>
    <p>Discounts are reductions of the regular price of a product or service in order to obtain or increase sales. These discounts also commonly referred to as "sales" or markdowns are utilized in a wide range of industries by both retailers and manufacturers.</p>
    <a href="" class="hero-btn">Visit Us To Know More</a>

</div> -->
</section>

<!-- ===========================courses============================== -->

<section class="course">
<h1>Category we offer</h1>


<div class="row">
    <div class="course-col">
        <h3>Electronics</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea repudiandae vel omnis nostrum quo eveniet corporis recusandae pariatur obcaecati qui enim sequi, minus ducimus nam sint delectus libero hic iure.</p>
    </div>
    <div class="course-col">
        <h3>Food</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea repudiandae vel omnis nostrum quo eveniet corporis recusandae pariatur obcaecati qui enim sequi, minus ducimus nam sint delectus libero hic iure.</p>
    </div>
    <div class="course-col">
        <h3>Grocery</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea repudiandae vel omnis nostrum quo eveniet corporis recusandae pariatur obcaecati qui enim sequi, minus ducimus nam sint delectus libero hic iure.</p>
    </div>
</div>
</section>

<!-- ------------------------------campus------------------------------- -->



<section class="facilities">
<h1>Our facilities</h1>


<div class="row">
    <div class="facilities-col">
        <img src="images/R.jpg" >
        <h3>Electronics Gadgets</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem quaerat accusamus provident cupiditate ea ipsum eius delectus quos impedit adipisci.</p>
    </div>
    <div class="facilities-col">
        <img src="images/food.jpg" >
        <h3>Tasty And Healthy Food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem quaerat accusamus provident cupiditate ea ipsum eius delectus quos impedit adipisci.</p>
    </div>
    <div class="facilities-col">
        <img src="images/grocery.jpg" >
        <h3>Grocery Items</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem quaerat accusamus provident cupiditate ea ipsum eius delectus quos impedit adipisci.</p>
    </div>
</div>
</section>

<!-- ----------------------testimonial---------------------- -->

<section class="testimonials">
<h1>What Our Customers Says</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti iste iusto rem!</p>

<div class="row">
    <div class="testimonials-col">
        <img src="images/user1.jpg" >
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quasi obcaecati pariatur distinctio quidem reprehenderit. Pariatur nobis corporis ex voluptas maiores libero, iusto porro? Sapiente rem repellendus alias cupiditate, doloribus harum et veritatis odio facilis.</p>
            <h3>Christine Berkley</h3>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-half-o"></i>
        </div>
    </div>
    <div class="testimonials-col">
        <img src="images/user2.jpg" >
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quasi obcaecati pariatur distinctio quidem reprehenderit. Pariatur nobis corporis ex voluptas maiores libero, iusto porro? Sapiente rem repellendus alias cupiditate, doloribus harum et veritatis odio facilis.</p>
            <h3>Devid Miller</h3>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-half-o"></i>
        </div>
    </div>
   
</div>
</section>

<!-- ---------------call to action----------------- -->

<section class="cta">
<h1>Enroll For Our Various Online Courses <br> Anywhere From The World</h1>
<a href="" class="hero-btn">CONTACT US</a>

</section>

<%-include('footer') %>